{% extends 'base.html' %}
{% block content %}
    <form action="" method="POST">
        <br><br>
        {% csrf_token %}
        Search : <input type="text" name="query">
        <br><br>
        <input type="submit">
    </form>
    {%for key, values in out.items%}
        <br>
        {% if 'mp4' in values or 'mkv' in values%}
        <video width="400" controls>
            <source src="https://www.googleapis.com/drive/v3/files/{{key}}?alt=media&key=AIzaSyDBIemLvDdcof-qTcpGjPys48ahu_xxt-s" type="video/mp4">
        </video>
        <br>
        <form action="{% url 'download'%}" method="post">
            {% csrf_token %}
            {{values}}
            <input type="hidden" value = '{{values}}' name="iname">
            <input type="hidden" value = '{{key}}' name="ikey">
            <input type="submit" value="Download">
        </form>
        {% elif 'Enter Something in Search Bar' in values%}
        {{values}}
        {% else %}
        <form action="{% url 'download'%}" method="post">
            {% csrf_token %}
            {{values}}
            <input type="hidden" value = '{{values}}' name="iname">
            <input type="hidden" value = '{{key}}' name="ikey">
            <input type="submit" value="Download">
        </form>
        {% endif %}
        <br>
    {%endfor%}
    
{% endblock %}