{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            CS305 MiniProject
        </title>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
            <link rel="icon" type="image/png" href="{% static 'users/images/icons/favicon.ico' %}"/>
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{% static 'users/vendor/bootstrap/css/bootstrap.min.css' %}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{% static 'users/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{% static 'users/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{% static 'users/vendor/animate/animate.css' %}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{% static 'users/vendor/css-hamburgers/hamburgers.min.css' %}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{% static 'users/vendor/select2/select2.min.css' %}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{% static 'users/css/util.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'users/css/main.css' %}">
        <!--===============================================================================================-->
    </head>
        <body>
            <div class='nav-bar' style='margin-left: 10px;'>
                {% if user.is_authenticated or glogin %}
                    {% if glogin %}
                    <a href="{% url 'glogout' %}"> &emsp;Log out &emsp;</a> |
                    <a href="{% url 'glogin' %}"> &emsp;Home &emsp;</a> 
                    |  &emsp; Welcome {{ name }}  &emsp; 
                    {% else %}
                    <a href="{% url 'logout' %}"> &emsp;Log out &emsp;</a> |
                    <a href="{% url 'home' %}"> &emsp;Home &emsp;</a> 
                    |  &emsp;  Welcome {{ user.get_username }}   &emsp;  
                    {% endif %}
                {% else %}
                    {% if request.path != '/login/' %}
                        <a href="{% url 'login' %}">Log in</a> |
                    {% endif %}
                    {% if request.path != '/signup/' %}
                        <a href="{% url 'signup' %}">Sign Up</a> |
                    {% endif %}
                    <!-- {% if request.path != '/' %}
                        <a href="{% url 'home' %}">Main website</a> |
                    {% endif %} -->
                {% endif %}
            </div>
            <div class="container">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
            </div>
    </body>
</html>
