{% extends "./base.html" %}
{% load static %}
{% block content %}
<!-- <h1>Hello! welcome to Login page </h1> -->
<!-- <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend >Log in </legend>
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="submit">login</button>
        </div>
    </form>
</div>
<hr>
<div>
    <small class="text-muted">
        Don't have an account ?
        <a href="{% url 'signup' %}">Sign up!</a>
    </small>
</div>   -->

<!-- FRONT END TEAM CODE BELOW -->
    {% if user.is_authenticated %}
        <div class="limiter alert alert-primary" style="text-align: center; width:50%; " >
         You are already logged in with the account {{ user.get_username }}.
         <br><br><br>
         <small>
         Want to log in with different account or create a new account?
         <br>
         Don't get ahead of yourself and forget to log out!
         <button class="login100-form-btn" style=" height:50%; width:20%; margin-left:40%;">
            <a class="txt1 bo1 hov1" href="{% url 'logout' %}"> <small style='color:black;'> Logout</small></a>
        </button>
        </small>
        </div>
    {% else %}
        <div class="limiter">
            <div class="container-login100" >
                <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
                    <form class="login100-form" method="POST">
                        {% csrf_token %}
                        <span class="login100-form-title p-b-55">
                            Login
                        </span>

                        <div class="wrap-input100 validate-input m-b-16">
                            <i class="symbol-input100 fa fa-user icon"></i>
                            <!-- <input id="username" class="input100" type="text" name="Username" placeholder="Username"></input> -->
                                {{ form.username }}
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                            <!-- <input class="input100" type="password" name="pass" placeholder="Password" id="abc"> -->
                                {{ form.password }}
                            <!-- <input type="checkbox" onclick="Toggle()">
                            <b>Show password</b> -->
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <span class="lnr lnr-lock"></span>
                            </span>
                        </div>

                        <!-- <div class="content-section">
                            <form method="POST">-->
                                <!-- {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend >Log in </legend>
                                    {{ form.as_p }}
                                </fieldset>
                                <div class="form-group">
                                    <button type="submit" class="submit">login</button>
                                </div> -->
                            <!--</form>
                        </div>
                        <hr>
                        <div>
                            <small class="text-muted">
                                Don't have an account ?
                                <a href="{% url 'signup' %}">Sign up!</a>
                            </small>
                        </div>  -->

                        {% if form.errors %}
                        <!-- Error messaging -->
                        <div id="errors">
                            <div class="inner alert alert-danger">
                                <!-- <p>There were some errors in the information you entered. Please correct the following:</p> -->
                                {{ form.non_field_errors }}
                                <ul>
                                    {% for field in form %}
                                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- /Error messaging -->
                        {% endif %}

                        <div class="container-login100-form-btn p-t-25">
                            <button style="font-size: larger;" class="login100-form-btn" type="submit">
                                Login
                            </button>
                        </div>

                        <div class="text-center w-full p-t-42 p-b-22">
                            <span class="txt1">
                                Or login with
                            </span>
                        </div>

                        <a href="{% url 'social:begin' 'facebook' %}" class="btn-face m-b-10">
                            <i class="fa fa-facebook-official"></i>
                            Facebook
                        </a>

                        <a href="{% url 'glogin' %}" class="btn-google m-b-10">
                            <img src="{% static  'users/images/icons/icon-google.png' %}" alt="GOOGLE">
                            Google
                        </a>

                        <div class="text-center w-full p-t-115">
                            <span class="txt1">
                                Not a member?
                            </span>

                            <a class="txt1 bo1 hov1" href="{% url 'signup' %}">
                                Sign up now
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}



	<script type="text/javascript">
        var input = document.getElementsByTagName('input');
        input[1].placeholder = 'Username';
        input[2].placeholder = 'Password';
        input[1].className = 'input100';
        input[2].className = 'input100';
    </script>
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
    <script>
      function Toggle() {
            var temp = document.getElementById("abc");
            if (temp.type === "password") {
                temp.type = "text";
            }
            else {
                temp.type = "password";
            }
        }
    </script>
{% endblock content%}
