{% extends "./base.html" %}
{% load static %}
{% block content %}
<!-- <h1>Hello! welcome to signup page </h1> -->
<!-- <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend >Join today</legend>
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="submit">Sign Up</button>
        </div>
    </form>    
</div>
<hr>
<div>
    <small class="text-muted">
        Already have an account ? 
        <a href="{% url 'login' %}">Log in</a>
    </small>
</div>   -->
    {% if user.is_authenticated %}
        <div class="limiter alert alert-primary" style="text-align: center; width:50%; " >
         You are already logged in with the account {{ user.get_username }}.
         <br><br><br>
         <small>
         Want to log in with different account or create a new account? 
         <br>
         Don't get ahead of yourself and forget to log out! 
         <button class="login100-form-btn" style=" height:50%; width:20%; margin-left:40%;">
            <a class="txt1 bo1 hov1" href="{% url 'logout' %}"> <small style='color:black;'> Logout</small></a>
        </button>
        </small>
        </div>
    {% else %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
				<form class="login100-form" method="POST">
                    {% csrf_token %}
					<span class="login100-form-title p-b-55">
						Signup
					</span>
                    <div class="wrap-input100 validate-input m-b-16">
                        <i class="symbol-input100 fa fa-user icon"></i>
						<!-- <input class="input100" type="text" name="name" placeholder="Full Name" id = "name"> -->
                        {{ form.username }}
                        <span class="focus-input100"></span>
						<span class="symbol-input100">
						</span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
						{{ form.email }}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						{{ form.password1 }}
                        <span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>
                    <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						{{ form.password2 }}
                        <span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>
					<!-- <div id="message">
                        <b style="color:white">Password did not match.</b>
                    </div> -->
                    {% if form.errors %}
                    <!-- Error messaging -->
                    <div id="errors">
                        <div class="inner alert alert-danger">
                            <!-- <p>There were some errors in the information you entered. Please correct the following:</p> -->
                            {{ form.non_field_errors }}
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /Error messaging -->
                    {% endif %}
					<div class="container-login100-form-btn p-t-25">
						<button style="font-size:larger;" class="login100-form-btn submit" type="submit" onclick="signup()">
							Sign up
						</button>
					</div>
                    <!-- <div class="text-center w-full p-t-42 p-b-22">
						<span class="txt1">
							Or Signup with
						</span>
					</div>

					<a href="#" class="btn-face m-b-10">
						<i class="fa fa-facebook-official"></i>
						Facebook
					</a>

					<a href="#" class="btn-google m-b-10">
						<img src="{% static  'users/images/icons/icon-google.png' %}" alt="GOOGLE">
						Google
					</a> -->
					<div class="text-center w-full p-t-115">
						<span class="txt1">
							Already a member. 
						</span>

						<a class="txt1 bo1 hov1" href="{% url 'login' %}">
							Back to Login page							
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% endif %}
	

	
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
<script>
      function Toggle() { 
            var temp = document.getElementById("ckb1"); 
            if (temp.type === "password") { 
                temp.type = "text"; 
            } 
            else { 
                temp.type = "password"; 
            } 
        } 
    </script>
<script>
      function Toggle1() { 
            var temp = document.getElementById("ckb2"); 
            if (temp.type === "password") { 
                temp.type = "text"; 
            } 
            else { 
                temp.type = "password"; 
            } 
        } 
    </script>
    <script>   
        var pw1 = document.getElementById("ckb1");  
        var pw2 = document.getElementById("ckb2"); 
    
    pw2.onkeyup = function() {
        
        if(pw1.value.match(pw2.value)){
            document.getElementById("message").style.color = "white";
	    document.getElementById("message").innerHTML = "Passwords Matched";
        }  
        else{
            document.getElementById("message").style.color = "red";
	    document.getElementById("message").innerHTML = "Password do not Match";
        }
    }
</script>
<script>
	function signup(){
		var pw1 = document.getElementById("ckb1");  
  		var pw2 = document.getElementById("ckb2"); 
		var fname = document.getElementById("name");
		var mail = document.getElementById("email");
 		 if(pw1.value.match(pw2.value))  
 		 {   
 		   alert("Signed in Sucessfully!");  
		  } else {  
		    alert("Passwords didnot match"); 
		  }  
	}
</script> 
</body>
</html>

{% endblock content%}


<!-- MISC.  -->
<!-- <!DOCTYPE html>
<html>
    <head>
        <title>
            Signup
        </title>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
        <body>
        <h1>Hello! welcome to signup page </h1>
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend >Join today</legend>
                    {{ form.as_p }}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="submit">Sign Up</button>
                </div>
            </form>    
        </div>
        <hr>
        <div>
            <small class="text-muted">
                Already have an account ? 
                <a href="#">Log in</a>
            </small>
        </div>
    </body>
</html> -->